div{
    text-align: right;
}

.tab{
    margin: 50px;
    width: 1024px;
    height: 28px;
    background: #424242;
}

.link1{
    padding: 0px 295px 0px 647px;
    color: #9a9a9a;
}

.link2{
    padding: 0px 188px 0px 755px;
    color: #9a9a9a;
}

.link3{
    padding: 0px 79px 0px 863px;
    color: #9a9a9a;
}

.link4{
    padding: 0px 21px 0px 973px;
    color: #9a9a9a;
}